extends base
include mixin_item
block content 
    form(method="get" action="/search")
        input(name="search" type="text" placeholder="search title")
        input(type="submit" value="찾기")

    h2 - LIST -
    each i in theList 
        +list_item(i)
    else 
        span= "Nothing in the List"